<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">

		<title>BINAUR</title>

		<!--FAVICON-->
		<link rel="shortcut icon" type="image/png" href="img/Logo1.png"/>
		<!-- <link rel="shortcut icon" type="image/png" href="http://eg.com/favicon.png"/> -->

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<header class="clearfix">
			<div class="">
				<nav>
					<ul>
						<li><a href="/"><img src="img/Logo1.png" alt="Logo"></a></li>
						<li><a href="#"><span>Help Binaur</span></a></li>
						<li><a href="#"><span>Contact</span></a></li>
						<!-- <li><a href="#"><span>Binaural beats?</span></a></li> -->
					</ul>
				</nav>
			</div>

		</header>

		<section class="banner clearfix">
			<div class="">
				<h2>BINAUR</h2>
				<h1>Experience the power of collective meditations</h1>
				<p>BINAUR is a binaural beats collective meditation app. Use it to achieve relaxation, greater focus and to induce sleep</p>
			</div>
		</section>

		<section class="individual clearfix">
				<div>
					<h3>Binaur Collaborators</h3>
          <h3>Thank you for your time and dedication!</h3>
          <h5>Francisco Rafart</h5>
          <h5>Sebastián Luque</h5>
          <h5>Martín Lopez</h5>
          <h5>Anna Skopenko</h5>
				</div>

		</section>

		<footer class="clearfix">
			<div class="">
				<h3>Follow us!</h3>
				<nav>
					<ul>
						<!-- i not showing up in the browser. -->
						<li><a href="https://www.facebook.com/BinaurApp-198066007351794/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
						<li><a href="mailto:francisco.rafart@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></a></i></li>
						<!-- <li><a href="index.html"><img src="img/Logo1.png" alt="website"></a></li> -->
					</ul>
				</nav>
			</div>

		</footer>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script src="js/jquery-3.2.1.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery.min.js"></script> -->
<!-- <script src="js/script.js"></script> -->
	</body>
</html>
